@import '../../scss/variables';
@import '../../scss/functions';

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90rem;

    &__contents {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 2rem;
    }

    &__name {
        font-size: fs(x-big);
        margin: 0;
    }

    &__img {
        display: flex;
        position: relative;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__claim {
        background-color: var(--color-burdeos);
        color: var(--color-gray_lighter);
        padding: 8rem 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__text {
        max-width: 60rem;
    }
}

@media all and (min-width: 600px) {
    .presentation {
        flex-direction: row;
        padding: 0 calc((100% - 90rem) / 2);
    }
}