@import '../../scss/variables';
@import '../../scss/functions';

button,
.btn {
    background-color: var(--color-burdeos);
    font-family: $font_main;
    font-size: fs(medium);
    // min-width: 15rem;
    display: inline-block;
    padding: 1rem 2rem;
    border: .1em solid var(--color-burdeos_dark);
    color: white;
    border-radius: .5em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn--secondary {
    color: var(--color-burdeos);
    background-color: #ffffff;
    border-color: var(--color-burdeos);
}

.btn--cta {
    font-size: 12px;
    padding: 2rem 3rem;
}

/*Para borrar después*/

.btn + .btn,
button + button {
    margin: 2rem 1rem;
}