@import '../../scss/variables';
@import '../../scss/functions';

.firstsight {
    background-color: var(--color-burdeos);
    border-radius: .5em;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 3rem;
    
    &__tittle {
        color: var(--color-gray_lighter);
        font-size: fs(x-big);
    }

    &__subtittle {
        color: var(--color-yellow_lighter);
        font-size: fs(x-large);
    }
}

@media all and (min-width: 600px) {
    .firstsight {
        padding: 12rem 4rem;
        gap: 6rem;

        &__tittle {
            font-size: fs(huge);
        }

        &__subtittle {
            font-size: fs(x-big);
        }
    }
}