@import '../scss/variables';

.styleguide {
    margin-left: 10rem;
}

.section {
    background-color: #f3f3f3;
    padding: 1rem 2rem;
    margin: 1rem 0;
    width: 50rem;
    border-radius: .5em;
}

.stynav {
    background-color: var(--color-gray_darken);
    color: var(--color-gray_light);
    margin: 0;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 0 .5em .5em 0;
    gap: 1rem;
    width: 8rem;
    height: calc(100vh - 3rem);
    position: fixed;
    inset: 0 auto 0 0;

    &__item {
        list-style-type: none;
        padding: .5rem 1rem;
    }

    &__link {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
}

.styicon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-gray_light);
}

.color {

    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    &__group {
        display: flex;
        gap: 2rem;
        margin: 2rem 0;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        width: 10rem;
        box-shadow: $box-shadow;
        border-radius: .5em;
    }
}