footer, .footer {
    background-color: var(--color-gray_darken);
    color: var(--color-gray_lighter);
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__rrss {
        fill: var(--color-gray_lighter);
        display: flex;
        gap: 1rem;

        & svg {
            width: 3.2rem;
            height: 3.2rem;
        }
    }

    &__copy {
        display: flex;
        align-items: center;
        gap: .5rem;
        fill: var(--color-gray_lighter);

        & svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}