@font-face {
    font-family: 'Alice';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Alice-Regular.woff);
}

@font-face {
    font-family: 'CutiveMono';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/CutiveMono-Regular.woff);
}

@font-face {
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Imprima-Regular.woff);
}