.inputgroup {
    display: inline-flex;
    padding: 8px;
    flex-wrap: wrap;
    gap: .5rem;
}

label {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

label + label {
    margin-left: 1rem;
}

input,
textarea,
select {
    background-color: var(--color-gray_lighter);
    color: var(--color-gray_darken);
    padding: .5em 1em;
    border: .1em solid var(--color-cadet_blue_lighter);
    border-radius: .5em;
    cursor: pointer;
    font-family: $font_main;
    line-height: 1.3em;

    &:focus {
        outline: .1em solid var(--color-yellow_dark);
    }

    &::placeholder {
        color: var(--color-gray);
        line-height: 1.3em;
    }
}

input + input {
    margin-left: 1rem;
}

[type="radio"],
[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  border: .1em solid var(--color-burdeos);
  background-color: none;
  border-radius: 50%;

  &:checked {
    width: .75rem;
    height: .75rem;
    margin: .35rem;
    background-color: var(--color-burdeos);
    box-shadow: 0 0 0 .2em white, 0 0 0 .3em var(--color-burdeos);
  }
}

[type="checkbox"] {
    border-radius: 25%;
}

[type="range"] {
    appearance: none;
    width: 15rem;
    height: .1rem;
    background-color: var(--color-gray_lighter);
    border: none;
    overflow: hidden;

    &::-webkit-slider-thumb {
        appearance: none;
        width: .9rem;
        height: .9rem;
        border-radius: 50%;
        background-color: var(--color-burdeos);
        box-shadow: 0 0 0 .1em white, 0 0 0 .2em var(--color-burdeos), -15rem 0 0 15rem var(--color-burdeos);
    }

    &:focus {
        border: none;
    }
}

[type="color"] {
    padding: .1em .3em;
}

progress[value] {
    appearance: none;
    width: 25rem;
    height: 1rem;
    border-radius: .5em;
    overflow: hidden;

    &::-webkit-progress-bar {
        background-color: var(--color-gray_lighter);
        box-shadow: $box-shadow inset;
    }

    &::-webkit-progress-value {
        background-color: var(--color-cadet_blue_lighter);
    }
}

@media all and (max-width: 420px) {
    [type='file'],
    progress[value] {
        max-width: 15rem;
    }
}