.list {
    list-style: none;
    padding: 0;
    
    &__item {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: url(../components/icons/IconFeature.svg);
            flex: 0 0 2rem;
        }
    }
}