h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--color-gray_dark);
    margin: 1rem 0;
}

h1,
.h1 {
    font-family: $font_display;
    font-size: fs(x-big);
    color: var(--color-burdeos);
}

h2,
.h2 {
    font-family: $font_mono;
    font-size: fs(big);
    color: var(--color-yellow);
}

h3,
.h3 {
    font-size: fs(big);
}

h4,
.h4 {
    font-size: fs(x-large);
}

h5,
.h5 {
    font-size: fs(large);
}

h6,
.h6 {
    font-size: fs(medium);
}

p {
    margin: 1rem 0;
}

.p-big {
    font-size: fs(x-large);
}

small {
    font-size: fs(small);
    margin: .5rem 0;
}