@each $key, $value in $color-list {
    .color-#{$key} {
        color: hsl($value);
    }
    
    .color-bg-#{$key} {
        background-color: hsl($value);
    }
}

@each $key, $value in $font-list {
    .#{$key} {
        font-family: $value;
    }
}