.color-gray_light {
    color: hsl($gray_light);
}
.color-bg-gray_light {
    background-color: hsl($gray_light);
}

.color-gray {
    color: hsl($gray);
}
.color-bg-gray {
    background-color: hsl($gray);
}

.color-gray_dark {
    color: hsl($gray_dark);
}
.color-bg-gray_dark {
    background-color: hsl($gray_dark);
}

.color-gray_darken {
    color: hsl($gray_darken);
}
.color-bg-gray_darken {
    background-color: hsl($gray_darken);
}


.color-pistacho {
    color: hsl($pistacho);
}
.color-bg-pistacho {
    background-color: hsl($pistacho);
}

.color-violet {
    color: hsl($violet);
}
.color-bg-violet {
    background-color: hsl($violet);
}

.color-purple {
    color: hsl($purple);
}
.color-bg-purple {
    background-color: hsl($purple);
}