$gray_darken: 240 3% 11%;
$gray_dark: 184 9% 64%;
$gray: 187 11% 84%;
$gray_light: 0 0% 95%;

$pistacho: 62 67% 55%;
$violet: 314 20% 52%;
$purple: 314 48% 20%;

$box-shadow: 0 0 1rem 0 hsl($gray);


$font_main: 'Imprima';
$font_display: 'Alice';
$font_mono: 'CutiveMono';