$gray_darken: 238 57% 12%;
$gray_dark: 208 17% 48%;
$gray: 208 16% 69%;
$gray_light: 208 16% 89%;
$gray_lighter: 0 0% 96%;

$yellow_darken: 37 98% 40%;
$yellow_dark: 37 98% 48%;
$yellow: 37 98% 60%;
$yellow_light: 37 98% 74%;
$yellow_lighter: 37 98% 83%;

$burdeos_darken: 330 67% 14%;
$burdeos_dark: 330 67% 20%;
$burdeos: 330 67% 31%;
$burdeos_light: 330 67% 45%;
$burdeos_lighter: 330 67% 68%;

$cadet_blue_darken: 238 58% 21%;
$cadet_blue_dark: 238 58% 31%;
$cadet_blue: 238 58% 46%;
$cadet_blue_light: 238 58% 63%;
$cadet_blue_lighter: 238 58% 78%;


$box-shadow: 0 0 1rem 0 hsl($gray);


$font_main: 'Imprima';
$font_display: 'Alice';
$font_mono: 'CutiveMono';

$font_sizes: (
    "small": 1.2,
    "medium": 1.5,
    "large": 1.8,
    "x-large": 2,
    "big": 2.4,
    "x-big": 3,
    "huge": 5.5
);

$color-list: (
    'gray_darken': $gray_darken,
    'gray_dark': $gray_dark,
    'gray': $gray,
    'gray_light': $gray_light,
    'gray_lighter': $gray_lighter,
    'yellow_darken': $yellow_darken,
    'yellow_dark': $yellow_dark,
    'yellow': $yellow,
    'yellow_light': $yellow_light,
    'yellow_lighter': $yellow_lighter,
    'burdeos_darken': $burdeos_darken,
    'burdeos_dark': $burdeos_dark,
    'burdeos': $burdeos,
    'burdeos_light': $burdeos_light,
    'burdeos_lighter': $burdeos_lighter,
    'cadet_blue_darken': $cadet_blue_darken,
    'cadet_blue_dark': $cadet_blue_dark,
    'cadet_blue': $cadet_blue,
    'cadet_blue_light': $cadet_blue_light,
    'cadet_blue_lighter': $cadet_blue_lighter
);

$font-list: (
    'font-family-main': $font_main,
    'font-family-display': $font_display,
    'font-family-mono': $font_mono
);