@import 'font-family';
@import 'variables';
@import 'functions';
@import 'typography';
@import 'links';
@import 'lists';
@import 'utilities';

:root {
    --color-gray_darken: hsl(#{$gray_darken});
    --color-gray_dark: hsl(#{$gray_dark});
    --color-gray: hsl(#{$gray});
    --color-gray_light: hsl(#{$gray_light});
    --color-gray_lighter: hsl(#{$gray_lighter});
    
    --color-yellow_darken: hsl(#{$yellow_darken});
    --color-yellow_dark: hsl(#{$yellow_dark});
    --color-yellow: hsl(#{$yellow});
    --color-yellow_light: hsl(#{$yellow_light});
    --color-yellow_lighter: hsl(#{$yellow_lighter});

    --color-burdeos_darken: hsl(#{$burdeos_darken});
    --color-burdeos_dark: hsl(#{$burdeos_dark});
    --color-burdeos: hsl(#{$burdeos});
    --color-burdeos_light: hsl(#{$burdeos_light});
    --color-burdeos_lighter: hsl(#{$burdeos_lighter});

    --color-cadet_blue_darken: hsl(#{$cadet_blue_darken});
    --color-cadet_blue_dark: hsl(#{$cadet_blue_dark});
    --color-cadet_blue: hsl(#{$cadet_blue});
    --color-cadet_blue_light: hsl(#{$cadet_blue_light});
    --color-cadet_blue_lighter: hsl(#{$cadet_blue_lighter});
}

html {
    font-size: 62.5%
}

body {
    margin: 0;
    font-family: $font_main;
    font-size: fs(medium);
    color: var(--color-gray_darken);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    width: calc(100% - 4rem);
    max-width: 60rem;

    &--full {
        width: auto;
        max-width: none;
        flex-direction: row;
    }

    &--right {
        align-items: end;
    }
}

.displayGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media all and (min-width: 600px) {
    .displayGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}