@import 'font-family';
@import 'variables';
@import 'typography';

:root {
    --color-gray_darken: hsl(#{$gray_darken});
    --color-gray_dark: hsl(#{$gray_dark});
    --color-gray: hsl(#{$gray});
    --color-gray_light: hsl(#{$gray_light});
    --color-pistacho: hsl(#{$pistacho});
    --color-violet: hsl(#{$violet});
    --color-purple: hsl(#{$purple});
}

html {
    font-size: 62.5%
}

body {
    margin: 0;
    font-family: $font_main;
    font-size: 1.5rem;
}
