@import '../../scss/variables';
@import '../../scss/functions';

details {
    padding: 1.5rem 2rem;
    border-top: .1em solid var(--color-burdeos);
    border-bottom: .1em solid var(--color-burdeos);

  
  & + & {
    border-top: none;
  }
}
  
summary {
    list-style: none;
    cursor: pointer;
    font-size: fs(big);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
        content: url(../icons/IconPlus.svg);
        width: 3.2rem;
        height: 3.2rem;
    }
}

details[open] summary {
    margin-bottom: 2rem;
        &:after {
            content: url(../icons/IconMinus.svg);
        }
}