@import '../../scss/variables';
@import '../../scss/functions';

details {
    padding: 1.5rem 2rem;
    border-top: .1em solid var(--color-cadet_blue_lighter);
    border-bottom: .1em solid var(--color-cadet_blue_lighter);

  
  & + & {
    border-top: none;
  }
}
  
summary {
    list-style: none;
    cursor: pointer;
    font-size: fs(big);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

    &:after {
        content: url(../icons/IconPlus.svg);
        flex: 0 0 3.2rem;
    }
}

details[open] summary {
    margin-bottom: 2rem;
        &:after {
            content: url(../icons/IconMinus.svg);
        }
}

.accordion__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    & img {
        width: 100%;
        max-width: 40rem;
        max-height: 30rem;
        object-fit: cover;
    }
}

@media all and (min-width: 600px) {
    .accordion__section {
        flex-direction: row;

        & img {
            width: 40%;
        }
    }
}